h1{
    color: brown;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blueviolet;
    font-size: ;
}
.name{
    font-family: 'Courier New', Courier, monospace;
    color: crimson;
}